[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git://github.com/skroll/vim-commentary.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/skroll/vim-fugitive.git
[submodule "vim/bundle/ctab"]
	path = vim/bundle/ctab
	url = git://github.com/skroll/Smart-Tabs.git
